<!DOCTYPE html>
<html>
    <head>
        <title>Mastermind Game</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="./mastermindGameVue.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>    
        <header>
            <h1>Mastermind</h1>
        </header>
        <section class="main">
            <div class="gameContainer">
                <div>
                    <button id="secret-code" v-on:click.once="makeCode">{{ shownCode }}</button>
                    <p v-if="playing">ABCD, duplicates possible!</p>
                    <!-- <input id="guess" type="text" maxlength="4" v-model="userRun" v-if="playing"> -->
                </div>

                <div>
                    <div v-if="playing">
                        <button style="width: 5rem" v-bind:class="{activOption:activLetter === 'A'}" 
                            v-on:click="setActivLetter('A')">A</button>
                        <button style="width: 5rem" v-bind:class="{activOption:activLetter === 'B'}" 
                            v-on:click="setActivLetter('B')">B</button>
                        <button style="width: 5rem" v-bind:class="{activOption:activLetter === 'C'}" 
                            v-on:click="setActivLetter('C')">C</button>
                        <button style="width: 5rem" v-bind:class="{activOption:activLetter === 'D'}"
                            v-on:click="setActivLetter('D')">D</button>
                    </div>
                    <div v-if="playing">
                        <button class="inputButton" v-on:click="setLetterAt(0)">{{ userRun[0] }}</button>
                        <button class="inputButton" v-on:click="setLetterAt(1)">{{ userRun[1] }}</button>
                        <button class="inputButton" v-on:click="setLetterAt(2)">{{ userRun[2] }}</button>
                        <button class="inputButton" v-on:click="setLetterAt(3)">{{ userRun[3] }}</button>
                    </div>   
                    <p v-if="playing">Your guess: {{ userRun }}, left: {{ runsLeft }}</p>
                    <button id="compare" v-if="playing" v-on:click="compare">Compare</button>
                    <div v-for="result in results">{{ result }}</div>
                </div>
            </div>
            <p id="info"></p>
        </section>
        <!-- <footer> -->
        <!--     <a href="./index.html">Home</a> -->
        <!-- </footer> -->
    </body>
</html>