body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E4E5EA;
    color:#223542;
    margin: 0;
    font-size: 1.2rem;
}

header {
    background-color: #2B506E;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

footer {
  margin: 2%;
}

nav {
  margin: 5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color:#223542;
}

button {
  font-size: 1.2rem;
  background-color:#4F87A2;
  color: aliceblue;
  padding: 1%;
  border-radius: 0.5rem;
  margin: 2% 0%;
}

textarea {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

label {
  font-size: 1.2rem;
}

.main {
  margin: 5% auto;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color:#4F87A2;
  color: aliceblue;
  width: 15rem;
  height: 14rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0.3rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.3rem #C0CFD6;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
}

#log {
  width: 11.2rem;
  height: 7.9rem;
}

.inputButton {
  background-color: aliceblue;
  text-align: center;
  color: #223542;
  border-radius: 0%;
  width: 5rem;
}

#inputPanel{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.tile {
  background-color: darkgray;
  border-radius: 0.2rem;
}

.activOption {
  border-width: 0.4rem;
  border-color: white;
  border-style: groove;
}

#colorMenu {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 40rem;
  height: 8rem;
}

#panel {
  display: grid;
  margin: 0 auto;
  background-color: grey;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 40rem;
  height: 40rem;
}

 @media only screen and (max-width: 480px) {
  #colorMenu {
    width: 19rem;
    height: 3.8rem;
    padding-top: 20%;
  }
  #panel {
    width: 19rem;
    height: 19rem;
  }
 }

@media only screen and (min-width: 768px) {
  .gameContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

